@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
  color: rgb(68, 56, 80);
}

button {
  outline: none;
  border: none;

}

/*__________ Global Layout _____________________ */

.pageContainer {
  margin: 1em;
}

@media (min-width: 1024px) {
  .pageContainer {
    margin: 3em
  }
}

.pageHeader {
  font-size: 2rem;
  font-weight: 700;
}

/*___________ NAVIGATION _______________ */

.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 85px;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarNav {
  width: 100%;
  margin-top: 0.75rem;
  overflow-y: hidden;
}

.navbarListItems {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbarListItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbarListItemName,
.navbarListItemNameActive {
  margin-top: 0.25rem;
  font-size: 14px;
  font-weight: 700;
  color: rgb(68, 56, 80);
}

.navbarListItemNameActive {
  color: rgb(75, 136, 162);
}

/* ___________ FORM ELEMENTS _________________ */
.passwordInput,
.emailInput,
.nameInput {
  box-shadow: rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 3em;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  padding: 0, 3em;
  width: 100%;
  height: 3rem;
  outline: none;

}

@media (min-width: 1100px) {

  .passwordInput,
  .emailInput,
  .nameInput {
    padding: 0.5rem;
  }
}

.emailInput {
  margin-bottom: 2em;
  /* needs svg url adding */
}

.passwordInput {
  margin-bottom: 2em;
  /* needs svg url adding */
}

.signInBar,
.registerBar {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

.signInButton,
.registerButton,
.signInText,
.registerText {
  cursor: pointer;
}

@media (min-width: 1024px) {

  .signInBar,
  .registerBar {
    justify-content: start;
  }
}

.signInText,
.signUpText {
  font-size: 1.5rem;
  font-weight: 700;
}

.signInButton,
.registerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #00cc66;
  border-radius: 50%;
}

@media (min-width: 1024px) {

  .signInButton,
  .registerButton {
    margin-left: 3rem;
  }
}

.socialLogin {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialIconDiv {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em;
  margin: 1.5em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  box-shadow: 0, 4px, 8px rgba(0, 0, 0, 0.12);
}

.socialIconImg {
  width: 100%;
}

.registerLink {
  margin-top: 4rem;
  color: #00cc66;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

.changePersonalDetails {
  color: cyan;
  font-weight: 600;
}

/* ________ LOADING SPINNER___________________*/

.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: blue transparent blue transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/*________________ EXPLORE PAGE ____________ */

@media (min-width: 1217px) {
  .explore {
    margin-bottom: 10rem;
  }
}

@media (max-height: 536px) {
  .explore {
    margin-bottom: 10rem;
  }
}

.exploreHeading,
.exploreCategoryHeading {
  font-weight: 700;
}

.exploreCategoryHeading {
  margin-top: 3rem;
}
.exploreCategories {
  display: flex;
  justify-content: space-between;
}

.exploreCategories a {
  width: 48%;
}

.exploreCategoryImg {
  min-height: 115px;
  height: 15vw;
  width: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
  margin: 0 auto;
}